@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ffb900;
  --color-secondary: #212121;
}
a.active {
  @apply text-primary font-bold;
}